body {
    margin: 0;
    padding: 0;
    background-image: url(gambar/giphy.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
    transition: background-color 0.5ms ease-in-out;
}

img.logo {
    width: 50px;
}

a.link {
    text-decoration: none;
    color: white;
}

a.link:hover {
    background-color: white;
    color: black;
    padding: 10px;
    border-radius: 9px;
    transition: 1s;
}

nav.scrolled {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
}

nav.active {
    background-color: black;
}

.prolog {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15em;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    margin: 1em;
    border-radius: 9px;
    flex-wrap: wrap-reverse;
    backdrop-filter: blur(10px);
}

.teks {
    width: 400px;
    text-align: justify;
}

img.sosmed {
    width: 30px;
    margin: 10px;
}

img.pp {
    width: 150px;
    border-radius: 90%;
}

.skill {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.progress {
    width: 200px;
    padding: 50px;
    margin: 1em;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    backdrop-filter: blur(10px);
    border-radius: 9px;
    overflow: auto;
}

.order {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    backdrop-filter: blur(10px);
    width: 20em;
    margin: 1em;
    padding: 1em;
    text-align: center;
    border-radius: 9px;
}

.card img {
    width: 250px;
}

footer {
    padding: 10px;
    color: white;
    text-align: center;
    background-color: black;
}

.progress img {
    width: 50px;
    float: left;
}

.progress p {
    text-align: justify
}

html{
    scroll-behavior: smooth;
}

@media screen and (max-width:780px) {
    nav {
        padding: 1.5em;
    }

    .prolog {
        padding: 1em;
    }

    .progress {
        width: 400px;
        padding: 1em;
    }
}